@model Usuario    


<p>@Model.nombre @Model.apellido</p>
<p>Telefono: @Model.telefono</p>
<p>Correo: <a href="mailto:@Model.email">@Model.email</a></p>
<p>Dirección: <br />
    @Model.direccion - @Model.ciudad</p>
