@model Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.nombre @Model.apellido</title>
</head>
<body>
    <div>
        <h1>@Model.nombre @Model.apellido</h1>
        <img src="~/Uploads/@Model.foto" alt="" />

        @if (Model.Experiencia.Count > 0)
        {

            <h3>Empleos</h3>
            <p>
                @foreach (var e in Model.Experiencia.Where(x => x.tipo == 1).ToList())
                {
                    @e.nombre <br />
                    @e.desde <br />
                    @e.hasta <br />
                    @e.descripcion

                }
            </p>
        }


        @if (Model.Habilidad.Count > 0)
        {

            <h3>Habilidades</h3>
            <p>
                @foreach (var e in Model.Habilidad)
                {
                    @e.nombre <br />
                    @e.dominio
                }
            </p>
        }

        @if (Model.Experiencia.Count > 0)
        {

            <h3>Empleos</h3>
            <p>
                @foreach (var e in Model.Experiencia.Where(x => x.tipo == 2).ToList())
                {
                    @e.nombre <br />
                    @e.desde <br />
                    @e.hasta <br />
                    @e.descripcion
                }
            </p>
        }


        @if (Model.Testimonio.Count > 0)
        {

            <h3>Experiencia</h3>
            <p>
                @foreach (var e in Model.Testimonio)
                {
                    @e.nombre <br />
                    @e.comentario <br />
                    @e.fecha <br />
                }
            </p>
        }



    </div>
</body>
</html>
